.sidebar{
    width: 15%;
    min-height: 100vh;
    border: 2px solid #242323;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    font-size: max(1vw,10px);
}

.sidebar-options{
    /* padding-top: 35px;
    padding-left: 30%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 8px;
    color: #ff2600;
    background-color: rgb(0, 0, 0);

    cursor: pointer;
}

.sidebar-option .plus{
    height: 34px;
    width: 34px;
}

.sidebar-option .list{
        height: 34px;
    width: 34px;
}

.sidebar-option .box{
        height: 34px;
    width: 34px;
}

.sidebar-option .adm{
            height: 34px;
    width: 34px;
}


.sidebar-option .shop{
            height: 34px;
    width: 34px;
}

.sidebar-option.active{
    border: 1px solid #ff2600;
    border-right: 0;
}



@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}