.footer {
  color: #d9d9d9;
  /* background: linear-gradient(135deg, #1a1a1a 0%, #323232 100%); */
  background-color: #0c0a09;
  padding: 46px 8vw 40px;
  /* margin-top: 100px; */
  position: relative;
  overflow: hidden;
}

.footer-content {
  width: 94%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 100px; /*if gap 60 media will be 768px*/
  text-align: justify;
}

.footer-content-left .logo {
  width: 200px;
  margin-bottom: 15px;
  filter: drop-shadow(0 0 10px rgba(255, 107, 107, 0.3));
}

.footer-content-left p {
  font-size: 15px;
  line-height: 1.7;
  color: #cecbcb;
  max-width: 380px;
  margin-bottom: 22px;
}

.footer-social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.footer-social-icons a {
  width: 45px;
  height: 45px;
  background: #5e5d5d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease;
  border: 2px solid rgb(117, 117, 117);
}

.footer-social-icons .fb {
  color: #059bff;
}

.footer-social-icons .fb:active {
  transform: translateY(1px);
}

.footer-social-icons .fb:hover {
    background: #646363;
  transition: 0.1s;
  /* box-shadow: 0 10px 20px rgb(63, 63, 63); */
}

.footer-social-icons .loc {
  color: #64da04;
}

.footer-social-icons .loc:active {
  transform: translateY(1px);
}

.footer-social-icons .loc:hover {
  background: #646363;
  transition: 0.1s;
}

.footer-content-center h2,
.footer-content-right h2 {
  color: #ff2600;
  /* background: linear-gradient(90deg, 
    #ff3400 0%,
    #ff5a36 20%,
    #ff8c42 40%,
    #ffac42 60%,
    #ffc14e 80%,
    #ffd700 100%
  ); */
  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 21px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 18px;
}

/* .footer-content-center h2::after,
.footer-content-right h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 50px;
  height: 1px;
  background: #d9d9d9;
} */

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  list-style: none;
  margin-bottom: 14px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-content-center li:hover,
.footer-content-right li:hover {
  transform: translateX(5px);
}

.footer-content-right li a {
    color: #cecbcb;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-content-center li a {
    color: #cecbcb;
}

.footer-content-right li a:hover {
  color: rgb(206, 205, 205);
}

.footer-content-center li a:hover {
  color: rgb(206, 205, 205);
}

.icon {
  font-size: 17px;
}

.whatsapp {
  color: #25d366;
}

.phone {
  color: red;
}

.gmail {
  color: #23a7ff;
  font-size: 21px;
}

hr {
  width: 100%;
  height: 2px;
  margin: 32px 0 32px;
  background: linear-gradient(to right, transparent, #555, transparent);
  border: none;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.made-with {
  color: #aaa;
  font-weight: 600;
  margin-left: 8px;
}

/* Responsive */
@media (max-width: 800px) {
  .footer {
    padding: 60px 5vw 30px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: center;
    margin: 0 auto; /* new add ekhon*/
  }

  .footer-content-left p {
    max-width: 100%;
  }

  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    align-items: center;
  }

  .footer-content-center li,
  .footer-content-right li {
    justify-content: center;
  }

  .footer-social-icons {
    justify-content: center;
  }

  .footer-copyright {
    font-size: 13px;
    line-height: 1.6;
  }
}
